@page "/counter"
@using H5D_Delivery.Mgmt.Backend
@using H5D_Delivery.Mgmt.Backend.Customer.Domain
@using H5D_Delivery.Mgmt.Backend.Shared
@using Autofac
@using H5D_Delivery.Mgmt.Backend.Customer.Persistence

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Test Message: @testMessage</p>

<button class="btn btn-primary" @onclick="ShowSomething">Show Something</button>


@foreach (var customer in customers)
{
    <p>@customer</p>
}


<button class="btn btn-primary" @onclick="ShowCustomer">Show Customer</button>

<button class="btn btn-primary" @onclick="SaveCustomer">Save Customer</button>

@code {
    private int currentCount = 0;
    private string testMessage = string.Empty;
    private IEnumerable<Customer> customers = new List<Customer>();

    private void IncrementCount()
    {
        currentCount++;
        Testing.TriggerSomething();
    }

    private void ShowSomething()
    {
        testMessage = Testing.GetSomething();
    }

    private void ShowCustomer()
    {
        var customerService = new CustomerService(new CustomerRepository(new CustomerContext()));
        customers = customerService.GetAll();
    }

    private void SaveCustomer()
    {
        var service = new CustomerService(new CustomerRepository(new CustomerContext()));
        var customer = new Backend.Customer.Domain.Customer(new Guid(), "Hans", "Zbw-Strasse 4", "ich@gmail.com", "46574841");
        service.Create(customer);
    }
}
